section#our-team.our-team.padding-top-100.padding-bottom-100
    .container
        .main-titles
            h1.title Our Team
        .main-content
            .list-team-info
                .item
                    .block-3
                        .block-image
                            img.img-full(src="assets/images/teams/image-1.jpg", alt="")
                            a.link(href="#")
                        .block-content
                            a.title(href="blog-detail.html") Tran Nguyen
                            p.subtitle Leader & Front-end
                            .description
                                p.text We care about what you eat.
                            ul.list-social
                                li
                                    a.link.facebook(href="#")
                                        i.fa.fa-facebook
                                li
                                    a.link.twitter(href="#")
                                        i.fa.fa-twitter
                                li
                                    a.link.google(href="#")
                                        i.fa.fa-google
                                li
                                    a.link.instagram(href="#")
                                        i.fa.fa-linkedin
                            a.btn.btn-maincolor(href="#") view profile
                .item
                    .block-3
                        .block-image
                            img.img-full(src="assets/images/teams/image-2.jpg", alt="")
                            a.link(href="#")
                        .block-content
                            a.title(href="blog-detail.html") Tran Cong Luc
                            p.subtitle Front-end
                            .description
                                p.text We care about what you eat.
                            ul.list-social
                                li
                                    a.link.facebook(href="#")
                                        i.fa.fa-facebook
                                li
                                    a.link.twitter(href="#")
                                        i.fa.fa-twitter
                                li
                                    a.link.google(href="#")
                                        i.fa.fa-google
                                li
                                    a.link.instagram(href="#")
                                        i.fa.fa-linkedin
                            a.btn.btn-maincolor(href="#") view profile
                        
                .item
                    .block-3
                        .block-image
                            img.img-full(src="assets/images/teams/image-3.jpg", alt="")
                            a.link(href="#")
                        .block-content
                            a.title(href="blog-detail.html") Ly Nhan
                            p.subtitle Back-end
                            .description
                                p.text We care about what you eat.
                            ul.list-social
                                li
                                    a.link.facebook(href="#")
                                        i.fa.fa-facebook
                                li
                                    a.link.twitter(href="#")
                                        i.fa.fa-twitter
                                li
                                    a.link.google(href="#")
                                        i.fa.fa-google
                                li
                                    a.link.instagram(href="#")
                                        i.fa.fa-linkedin
                            a.btn.btn-maincolor(href="#") view profile
                .item
                    .block-3
                        .block-image
                            img.img-full(src="assets/images/teams/image-4.jpg", alt="")
                            a.link(href="#")
                        .block-content
                            a.title(href="blog-detail.html") Nguyen Thanh Nhan
                            p.subtitle Back-end
                            .description
                                p.text We care about what you eat.
                            ul.list-social
                                li
                                    a.link.facebook(href="#")
                                        i.fa.fa-facebook
                                li
                                    a.link.twitter(href="#")
                                        i.fa.fa-twitter
                                li
                                    a.link.google(href="#")
                                        i.fa.fa-google
                                li
                                    a.link.instagram(href="#")
                                        i.fa.fa-linkedin
                            a.btn.btn-maincolor(href="#") view profile