<!DOCTYPE html>
<html ng-app="LearningEnglish">

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/lib/uploader/uploader.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


  <script src="/lib/angularjs/angular.min.js"></script>
  <script src="//www.gstatic.com/firebasejs/4.0.0/firebase.js"></script>
  <script src="//cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://sdk.clarifai.com/js/clarifai-latest.js"></script>
  <script src="/lib/uploader/uploader.js"></script>

  <script type="text/javascript" src="/javascripts/home.js"></script>
</head>

<body ng-controller="shareController">
  <div class="col-xs-6">
    <div>
      <img src="" class="hide" alt="img" width="200" height="200" style="object-fit:contain">
    </div>
    <input type="text" id="input">

    <button id="button">go go go</button>


    <!-- <form>
      <input type="file" id="file" name='file' onchange="angular.element(this).scope().uploadImage(this)"/>
    </form> -->

    <div id="drop-area">
      <h3>Drag and Drop Files Here<h3/>
      <input type="file" title="Click to add Files" id="file" name='file' onchange="angular.element(this).scope().uploadImage(this)"/>
    </div>

  </div>

  <div class="col-xs-6 result" style="font-size:20px; font-weight:bold"></div>
  
</body>

</html>