<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://sdk.clarifai.com/js/clarifai-latest.js"></script>
</head>

<body>
  <div class="col-xs-6">
    <div>
      <img src="" class="hide" alt="img" width="200" height="200" style="object-fit:contain">
    </div>
    <input type="text" id="input">
    <button id="button">go go go</button>
  </div>

  <div class="col-xs-6 result" style="font-size:20px; font-weight:bold"></div>
  <script type="text/javascript" src="/javascripts/home.js"></script>
</body>

</html>