<!DOCTYPE html>
<html lang="en" ng-app="LearningEnglish">

<head>
	<title>Ambition |
		<%= title %>
	</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- FONT CSS-->
	<link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Pacifico">
	<link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Cuprum:400,700">
	<link type="text/css" rel="stylesheet" href="/font/font-icon/font-awesome/css/font-awesome.css">
	<link type="text/css" rel="stylesheet" href="/font/font-icon/font-oganic/flaticon.css">

	<!-- LIBRARY CSS-->
	<link type="text/css" rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="/libs/animate/animate.css">
	<link type="text/css" rel="stylesheet" href="/libs/slick-slider/slick.css">
	<link type="text/css" rel="stylesheet" href="/libs/slick-slider/slick-theme.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
	<!-- STYLE CSS-->
	<link type="text/css" rel="stylesheet" href="/css/styles.css">
	<link type="text/css" rel="stylesheet" href="/css/upload.css">

	<script src="/libs/jquery/jquery-2.2.4.min.js"></script>


	<script src="/libs/angularjs/angular.min.js"></script>
	<script src="//www.gstatic.com/firebasejs/4.0.0/firebase.js"></script>
	<script src="//cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

	<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="//sdk.clarifai.com/js/clarifai-latest.js"></script>
	<script src="/lib/uploader/uploader.js"></script>
	<script src="/lib/uploader/uploader-ui.js"></script>

	<script src="/js/common.js"></script>
	<script type="text/javascript" src="/js/search.js"></script>
	<script src="/js/google_speech.js"></script>
</head>

<body ng-controller="searchController">
	<!--BEGIN PAGE LOADER-->
	<div class="body-wrapper">
		<!-- WRAPPER CONTENT-->
		<div class="wrapper-content">
			<!-- HEADER-->
			<header>
				<div class="bg-transparent">
					<div class="header-topbar">
		          <div class="container">
		              <ul class="topbar-right list-unstyled list-inline style-2">
		                  <li class="sub-menu"><a href="javascript:void(0)" class="link"> <span>{{ languageText }}</span><i class="icons-2 fa fa-angle-double-down"></i></a>
		                      <ul class="dropdown-topbar">
		                          <li><a class="link" style="cursor: pointer;" ng-click='updateLanguage("vi", "Vietnamese")'> Vietnamese</a></li>
		                          <li><a class="link" style="cursor: pointer;" ng-click='updateLanguage("fr", "France")'> France</a></li>
		                          <li><a class="link" style="cursor: pointer;" ng-click='updateLanguage("ja", "Japanese")'> Japanese</a></li>
		                      </ul>
		                  </li>
		              </ul>
		          </div>
		      </div>
					<div class="header-main">
						<div class="container">
							<div class="header-main-wrapper">
								<div class="hamburger-menu-mobile">
									<i class="icons fa fa-bars"></i>
								</div>
								<div class="logo-wrapper">
									<a href="index.html" class="logo">Ambition</a>
								</div>
								<nav class="navigation">
									<ul class="nav-links nav navbar-nav">
										<li>
											<a href="/homepage" class="main-menu">
												<span class="text">Home</span>
											</a>
										</li>
										<li class="active">
											<a href="/search" class="main-menu">
												<span class="text">Search By Photo</span>
											</a>
										</li>
										<li>
											<a href="/" class="main-menu">
												<span class="text">Mapping Word</span>
											</a>
										</li>
										<li>
											<a href="/verser" class="main-menu">
												<span class="text">Study with friend</span>
											</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</header>
			<!-- MAIN CONTENT-->
			<div class="main-contents">
				<section class="wrapper-upload padding-top-100 padding-bottom-100">
					<div class="container">
						<div ng-show="isChoosingImage">
							<div id="url-area" class="url-area">
								<form class="main-form">
									<div class="row">
										<div class="col-sm-12">
											<div class="form-group text-center">
												<h1>Try your own image</h1>
												<p>Give us a direct link to a file on the web</p>
												<input type="text" placeholder="Paste URL" class="form-control border-radius-10" id="url-input">
												<p class="help-block text-danger"></p>
											</div>
										</div>
									</div>
								</form>
							</div>
							<div id="drop-area" style="height: 300px" class="dm-uploader text-center">
								<div class="vertical-align">
									<h1>Drag & drop Images here</h1>
									<div class="btn btn-maincolor">
										<span>Open the file Browser</span>
										<input id="file" type="file" title="Click to add Files" onchange="angular.element(this).scope().uploadImage(this)">
									</div>
									<br>
									<br>
									<div class="progress mb-2">
										<div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 0%" aria-valuenow="0"
											aria-valuemin="0" aria-valuemax="100">
										</div>
									</div>
								</div>
							</div>
						</div>
						</div>

						<div class="flip-card panel" ng-repeat="card in cardArr">
              <div class="front">
                <div class="pad">
                    <h2>{{card.text}}</h2>
                </div>
              </div>
              <div class="back">
                  <div class="pad">
                  <h2>{{card.transated}}</h2></div>
              </div>
            </div>
						<!-- Flip card -->
					</div>
				</section>
			</div>
			<!-- BUTTON BACK TO TOP-->
			<div id="back-top">
				<a href="#top" class="link">
					<i class="fa fa-angle-double-up"></i>
				</a>
			</div>
		</div>
	</div>
	<!-- LIBRARY JS-->
	<script src="/libs/smooth-scroll/jquery-smoothscroll.min.js"></script>
	<script src="/libs/wow-js/wow.min.js"></script>
	<script src="/libs/slick-slider/slick.min.js"></script>
	<!-- MAIN JS-->
	<script src="/js/main.js"></script>

	<!-- LOADING SCRIPTS FOR PAGE-->
	<script src="/libs/parallax/jquery.parallax-scroll.min.js"></script>
</body>

</html>