section.wrapper-upload.padding-top-100.padding-bottom-100
	.container
		.list-items.list-col-5
			.item 
				.flip-card.panel
					.front(style="background-image: url('assets/images/teams/image-3.jpg')")
						.pad
							| Tiếng việt
					.back
						.pad
							| Tiếng anh							
