section.wrapper-flip-card.padding-top-100.padding-bottom-100
	.container
		.flip-card.panel
			.front
				.pad
					h2 Mouse Over Me!
					p
						| The effect on this box can be done using 100% CSS.
						br
						br
						|         The other boxes all require some Javascript, but the animation is driven by CSS3.
			.back
				.pad
					h2 check you on the flip side
