// Slider
section.background-slide
    .slide-item
        img.img-responsive.img-background(src="assets/images/background-full/homepage-1.jpg", alt="", data-parallax='{"y": 200}')
        .container
            .homepage-banner-warpper
                .homepage-banner-content
                    //- .group-title.fadeInDown

                    //-     h1.title Ambition
                    //-     h2.subtitle good for natural, Good For You
                    //- .group-btn
                    //-     a.btn.btn-left.btn-maincolor.fadeInLeft(href="#") Đăng nhập 
                    //-     a.btn.btn-right.btn-transparent.fadeInRight(href="#")  Đăng ký
    .slide-item
        img.img-responsive.img-background(src="assets/images/background-full/homepage-2.jpg", alt="", data-parallax='{"y": 200}')
        .container
            .homepage-banner-warpper
                .homepage-banner-content
                    .group-title.animated.fadeInDown.hidden
                        h1.title Ambition Team
                        h2.subtitle Keep travelling, keep learning by pictures
                    .group-btn
                        a.btn.btn-left.btn-maincolor.animated.fadeInLeft.hidden(href="#", data-toggle='modal', data-target='#login') Login
                        a.btn.btn-right.btn-transparent.animated.fadeInRight.hidden(href="#", data-toggle='modal', data-target='#register') Register
    .slide-item
        img.img-responsive.img-background(src="assets/images/background-full/homepage-3.jpg", alt="", data-parallax='{"y": 200}')
        .container
            .homepage-banner-warpper
                .homepage-banner-content
                    .group-title.animated.fadeInDown.hidden
                        h1.title Ambition Team
                        h2.subtitle Keep travelling, keep learning by pictures
                    .group-btn
                        a.btn.btn-left.btn-maincolor.animated.fadeInLeft.hidden(href="#", data-toggle='modal', data-target='#login') Login
                        a.btn.btn-right.btn-transparent.animated.fadeInRight.hidden(href="#", data-toggle='modal', data-target='#register') Register
// About us
section#about-us.about-us.padding-top-100.padding-bottom-100
    .container
        .main-titles
            h1.title wellcome to ambition
        .main-content
            .about-us-wrapper
                .about-left
                    .block-icon-1.wow.fadeInLeft(data-wow-delay="0.8s")
                        .table-cell
                            .wrapper-icons
                                i.icons.flaticon-broccoli
                        .table-cell
                            h4.title Title
                            p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti nostrum unde quae fugiat libero culpa deserunt nemo facilis, dolor quo id impedit saepe?
                    .block-icon-1.wow.fadeInLeft(data-wow-delay="1.3s")
                        .table-cell
                            .wrapper-icons
                                i.icons.flaticon-lemon
                        .table-cell
                            h4.title Title 2
                            p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam quaerat quidem laborum inventore reiciendis maiores. Excepturi laudantium facilis animi eu
                .about-center.wow.zoomIn(data-wow-delay="0.3s")
                    img.img-responsive(src="assets/images/more-image/about-us-1.jpg", alt="")
                .about-right
                    .block-icon-1.wow.fadeInRight(data-wow-delay="0.8s")
                        .table-cell
                            .wrapper-icons
                                i.icons.flaticon-groceries
                        .table-cell
                            h4.title Title 3
                            p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed natus corporis facere quaerat culpa beatae esse assumenda excepturi a laudantium impedit nam veri
                    .block-icon-1.wow.fadeInRight(data-wow-delay="1.3s")
                        .table-cell
                            .wrapper-icons
                                i.icons.flaticon-flour
                        .table-cell
                            h4.title Title 4
                            p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla et laudantium quod, fugit asperiores pariatur sint minima beatae ullam sunt eius voluptates dig
                .clearfix

!=partial("_includes/our-team")
// Banner 2
