section.wrapper-upload.padding-top-100.padding-bottom-100
	.container
		.list-keywords
			.item
				.keyword(idKey="8" data-parallax='{"x": 15, "y": -15, "rotateZ": -15}') Competition
			.item
				.keyword(idKey="2" data-parallax='{"x": 15, "y": -15, "rotateZ": 15}') exhibition
			.item
				.keyword(idKey="6" data-parallax='{"x": 15, "y": -15, "rotateZ": 15}') man
			.item
				.keyword(idKey="1" data-parallax='{"x": 15, "y": -15, "rotateZ": -15}') portrait
			.item
				.keyword(idKey="3" data-parallax='{"x": 15, "y": -15, "rotateZ": -15}') education
			.item
				.keyword(idKey="1" data-parallax='{"x": 15, "y": -15, "rotateZ": 15}') adult
			.item
				.keyword(idKey="6" data-parallax='{"x": 15, "y": -15, "rotateZ": 15}') festival
			.item
				.keyword(idKey="2" data-parallax='{"x": 15, "y": -15, "rotateZ": -15}') fashion
			.item
				.keyword(idKey="5" data-parallax='{"x": 15, "y": -15, "rotateZ": 15}') wear
			.item
				.keyword(idKey="7" data-parallax='{"x": 15, "y": -15, "rotateZ": 15}') university
			.item
				.keyword(idKey="5" data-parallax='{"x": -15, "y": 15, "rotateZ": -15}') stock
			.item
				.keyword(idKey="4" data-parallax='{"x": 15, "y": -15, "rotateZ": -15}') International
			.item
				.keyword(idKey="7" data-parallax='{"x": 15, "y": -15, "rotateZ": 15}') industry
			.item
				.keyword(idKey="8" data-parallax='{"x": 15, "y": -15, "rotateZ": -15}') school
			.item
				.keyword(idKey="3" data-parallax='{"x": -15, "y": -15, "rotateZ": -15}') business
			.item
				.keyword(idKey="4" data-parallax='{"x": 15, "y": -15, "rotateZ": 15}') people
	