.bg-transparent
    .header-topbar
        .container
            ul.topbar-right.list-unstyled.list-inline.style-2
                li.sub-menu
                    a.link(href="javascript:void(0)") 
                        span Language Translate
                        i.icons-2.fa.fa-angle-double-down
                    ul.dropdown-topbar
                        li
                            a.link(href="#")  Vietnamese
                        li
                            a.link(href="#")  English
                        li
                            a.link(href="#")  Japanese
    .header-main
        .container
            .header-main-wrapper
                .hamburger-menu-mobile
                    i.icons.fa.fa-bars
                .logo-wrapper
                    a.logo(href="index.html") Ambition
                        //- img(src="assets/images/logo/gamba.png", alt="")

                nav.navigation
                    != partial("navigation-02")