.bg-transparent
    .header-main
        .container
            .header-main-wrapper
                .hamburger-menu-mobile
                    i.icons.fa.fa-bars
                .logo-wrapper
                    a.logo(href="index.html") Alligator
                        //- img(src="assets/images/logo/gamba.png", alt="")

                nav.navigation
                    != partial("navigation-02")