ul.nav-links.nav.navbar-nav
   li.active
      a.main-menu(href="javascript:void(0)")
         span.text Home
   li
      a.main-menu(href="#about-us")
         span.text Introduce
   li
      a.main-menu(href="#our-team")
         span.text Team
   li
      a.main-menu(href="#", data-toggle='modal', data-target='#login')
         span.text Login
   li
      a.main-menu(href="#", data-toggle='modal', data-target='#register')
         span.text Register



