ul.nav-links.nav.navbar-nav
   li
      a.main-menu(href="/")
         span.text Home
   li.active
      a.main-menu(href="javascript:void(0)")
         span.text Round 1
   li
      a.main-menu(href="javascript:void(0)")
         span.text Round 2



