ul.nav-links.nav.navbar-nav
   //- li
   //-    a.main-menu(href="/")
   //-       span.text Home
   li(class="#{ current.source == 'upload' ? 'active' : '' }")
      a.main-menu(href="#")
         span.text Game 01
   li(class="#{ current.source == 'flip-card' ? 'active' : '' }")
      a.main-menu(href="#")
         span.text Game 02



